<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/north.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>indian group tour</title>
</head>
<body>
    {% include 'nav.html' %}

    <div class="north">
        {% load static %}
        <img src="{% static 'image/north india.jpg'  %}" alt="">
        <h2>North Indian HonyMoon Package</h2>
    </div>

    <section>
        <div class="no">
            <p>North Indian HonyMoon Package</p>
        </div>

        <dic class="north1">
    {% for north in north%}
            <div class="nor">
                {% load static %}
                <img src="{{north.north.url}}" alt=""><br><br>
                <p><i class="fa-solid fa-location-dot"></i>{{north.plan}}<br>{{north.location}}<br>
                <span><i class="fa-regular fa-clock"></i>&nbsp {{north.duration}}</span></p>
                <a href="{% url 'book' %}">
                    <button>Book now</button>
                </a><i class="fa-solid fa-indian-rupee-sign"></i>&nbsp {{north.price}}
            </div>
    {% endfor %}

            
        </dic>
    </section>


       {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
               
</body>
</html>